* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
  background-color: rgb(245, 232, 220);
}

header, footer {
  display: flex;
  padding-inline: 10vw;
  padding-block: 1vh;
  background-color: rgb(193, 221, 219);
  align-items: center;
  height: 2em;
}
a, p {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.scoreboard {
  display: flex;
  justify-content: space-around;
  margin-left:auto;
  gap: 3em;
}
.scoreboard > p {
  padding-inline: 0.5em;
}
.is-turn {
  outline: 2px solid black;
  border-radius: 0.5vw;
}

.restart-button {
  margin-left: auto;
  padding: 0.3em;
  padding-inline: 0.6em;
  border: none;
  background-color: white;
  border-radius: 0.6vw;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.8);
}

.create-fields {
  display: flex;
  background-color: rgb(250, 242, 230);
  justify-content: space-around;
  align-items: center;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 1vw;
}
.create-fields > div {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.create-fields > div > input{
  background-color: rgb(240,240,240);
  width: 10em;
  margin-bottom: 10px;
  border-radius: 0.5vw;
}
.create-fields > button {
  background-color: rgb(90,210,90);
  height: 3em;
  font-weight:bolder;
  font-size: 26px;
  border-radius: 2vw;
  padding-inline: 1em;
  border: none;
  cursor: pointer;
}

main {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
  margin-top: auto;
  padding: 2vw;
  padding-inline: 4vw;
}

.game-view {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.captures {
  width: 55px;
  height: 145px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 23px);
  grid-template-rows: repeat(auto-fit, 23px);
  gap: 5px;
  grid-column-start:revert;
}
.captures > div {
  height: 16px;
  width: 16px;
  justify-content: center;
  align-items: center;
}

#gameBoard {
  display: grid;
  outline: 2px solid black;
  height: 400px;
  width: 400px;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(17, 1fr);
  gap: 0px;
  margin-top: auto;
  margin-bottom: auto;
}
#gameBoard > div {
  background-image: url(grid.svg);
  background-size: 23px 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.occupied {
  position: relative;
  background-color: blue;
  color: blue;
  border-radius: 100%;
  height: 70%;
  width: 70%;
  box-shadow: 1px 2px 2px 0.2px gray, 
    inset 2px 2px 2px 1px rgb(255,255,255,0.3), 
    inset -2px 0px 2px 1px rgb(255,255,255,0.3),
    inset 0px -1px 2px 1px rgb(255,255,255,0.3);

}


.victory-screen {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}
.victory-text-field {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 1vw;
  padding: 0;
  padding-inline: 2vw;
}
.victory-text-field > h1 {
  text-align: center;
  padding-bottom: 40px;
  font-size: 36px;
}
.close {
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

#red {
  background-color: red;
  outline: 1px solid rgb(255,0,0,0.5)
}
#blue {
  background-color: blue;
    outline: 1px solid rgb(0,0,255,0.5)
}
#green {
  background-color: green;
  outline: 1px solid rgb(0,255,0,0.5)
}
#yellow {
  background-color: yellow;
  outline: 1px solid rgb(255,255,0,0.5)
}